.home {
  display: grid;
  height: 100vw;
  //width: 100vh;

  grid: {
    template-columns: 1fr;
    template-rows: 100px 1fr 100px;
    template-areas:
      "home__header"
      "home__main"
      "home__footer"
  };

  &__header {
    grid-area: home__header;
    display: flex;
    //border: 1px solid orchid;
  }

  &__main {
    grid-area: home__main;
    display: flex;
    //border: 1px solid orchid;
  }

  &__footer {
    grid-area: home__footer;
    display: flex;
    //border: 1px solid orchid;
  }
}
