.top-bar {
  display: grid;
  width: 100%;
;
  grid: {
    template-rows: 1fr;
    template-columns: 1fr 1fr 1fr;
    template-areas:
      "test test1 test2";
  };

  &__title {
    grid-area: test;
  }

  &__navigation {
    grid-area: test1;
    display: flex;
    justify-content: center;
    padding: 20px;
    > section {
      padding-right: 10px;
    }
  }


  &__languages {
    grid-area: test2;
    display: flex;
    text-align: center;
    .language {
      width: 100%;
      padding-right: 3px;
    }
  }
}
