.btn {
  height: $button-height;
  width: $button-width;
  padding: $button-padding;
  margin-top: 1rem;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}