@mixin alignment($grid-area, $flex-position) {
  grid-area: $grid-area;
  justify-content: $flex-position;
  display: flex;
  align-items: center;
}

.top-bar {
  display: grid;
  width: 100%;

  grid: {
    template-rows: 1fr;
    template-columns: 1fr 1fr 1fr;
    template-areas:
      "titles navigation languages";
  };

  &__title {
    @include alignment(titles, flex-start);

    .name {
      color: $black;
    }

    .title {
      margin-left: $text-gap;
      color: $blue;
    }
  }

  &__navigation {
    @include alignment(navigation, center);

    color: $black;

    > section {
      padding-right: $text-gap;
    }
  }


  &__languages {
    @include alignment(languages, flex-end);

    .language {
      //width: 100%;
      padding-right: $text-gap;
    }
  }
}
