$breakpoints: (
  'small': 900px,
  'large': 1300px,
);

@mixin flex-style() {
  display: flex;
}

@mixin grid-system($row, $column, $area) {
  grid: {
    template-columns: $column;
    template-rows: $row;
    template-areas: $area;
  };
}

@mixin change-grid($media, $row, $column, $area) {
  @media (min-width: $media) {
    @include grid-system($row, $column, $area);
  }
}

.home {
  display: grid;
  height: 100vh;
  background-color: $white;
  color: $black;

  grid: {
    template-columns: 1fr;
    template-rows: 70px 10fr 1fr;
    template-areas:
      "home__header"
      "home__main"
      "home__footer"
  };

  &__top {
    $side-gap: 0.7rem;
    @include flex-style();
    grid-area: home__header;
    font-size: $font-medium;
    border-bottom: 2px solid $border;
    padding: $side-gap;
  }

  &__center {
    @include flex-style();
    grid-area: home__main;
    justify-content: center;

    &--light {
      background-color: $light-gray;
      color: $black;
    }

    &--dark {
      background-color: $black;
      color: #FFFF;
    }
  }

  &__bottom {
    @include flex-style();
    grid-area: home__footer;
    font-size: $font-small;
    border: 1px solid $gray;
    justify-content: center;
  }
}