// Spacing
$spacing: 1.2rem;

// Fonts
$font-medium: 20px;
$font-large: 32px;
$font-small: 13px;

// Black
$black: rgba(72, 69, 69, 0.93);
$gray: rgba(156, 156, 156, 0.27);

// Blue
$blue-dark: #42a5f5;
$blue: #90caf9;
$blue-light: #bbdefb;

// Yellow
$yellow-dark: #fffaa6;

// Red
$red: rgba(212, 93, 93, 0.66);
