$home: #e67079;

// Layout
$text-gap: 10px;
$window-gap: 17px;

// Colors
$black: rgba(50, 50, 50, 0.93);
$gray: rgba(156, 156, 156, 0.27);
$blue: rgba(94, 140, 194, 0.74);
$red: rgba(212, 93, 93, 0.66);
$purple: rgba(123, 91, 175, 0.66);
