.links {
  display: flex;
}
.github, .linkedin {
  padding-top: 0.5rem;
  text-decoration: none;
  > a {
    &:link {
      color: #6e8cb5;
    }
  }
}
.github {
  padding-right: 1rem;
}